:root{
    --background: #16FFBD;
    --primary-color: #000;
    --highligth-color: #2A66C9;
}

*{
    font-size: 16px;
}

body{
    background-color: var(--background);
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    line-height: 2;
    padding: 0;
    margin: 0;
}

::-moz-selection{
    background-color: var(--highligth-color);
}

::selection {
    background-color: var(--highligth-color);
}

a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: var(--highligth-color);
}

h2, h3{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

.container {
    width: 1920px;
}

 /* Menu */

.menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 22px auto;
    width: 50%;
    align-items: center;
}

/* .menu img {
    width: 100%;
} */

.menu > div { 
    width: 33%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu ul li{
    animation-name: opening-logo;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

.menu a{
    font-family: 'barlow Condensed';
    font-size: 1.7rem;   
}

.menu .logo img {
    width: 100%;
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

.menu-mobile {
    display: none;
}

.menu-mobile a:hover svg {
    fill: var(--highligth-color);
}

.menu-mobile .header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.menu-mobile .header .logo {
    flex-grow: 2;
    text-align: center;
}

.menu-mobile .header .logo img {
    width: 70px;
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

.menu-mobile ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-mobile ul li {
    text-align: center;
}

.menu-mobile ul li a {
    display: block;
    padding: 10px 0;
}

.menu-mobile-closed { 
    display: none;
}

/* Main Video */

.main-video {
    margin-top: 250px;
    transform-origin: 0 0;
    transform: skewY(-10deg);
    overflow: hidden;
    height: 500px;
    margin-bottom: 150px;
}

.main-video .video {
    overflow: hidden;
    transform: skewY(10deg) scale(1.4, 1.4);
}

.main-video .video video {
    margin-top: -80px;
    width: 100%;
}

/* Intro */

.intro {
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: -100px;
    padding-bottom: 100px;
}

/* Work */

.work {
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-10deg);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}

.grid .item {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 300px;

}

.grid .item img {
    width: 101%;
    margin-top: -60px;
    transform: skewY(10deg) scale(1.4 , 1.4);
    transition: all 0.075s;    
}

.grid .item:hover img {
    transform: skewY(10deg) scale(1.4, 1.4);
}

.grid .item .bg-hover {
     /* rgba(0, 0, 0, 0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 2;
    top: -25%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: skewY(10deg) scale(1,1);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.grid .item:hover .bg-hover {
    overflow: hidden;
    opacity: 0.5;
}

.grid .item:hover .bg-hover .info {
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.grid .item:hover .bg-hover .title {
    color: white;
}

.grid .item:hover .bg-hover .customer {
    color: var(--background);
}

.about {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 150px;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@keyframes opening-logo {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes bounce {
    0%{
        transform: translateY(500px);
    }

    80%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0);
    }
}



@media (max-width: 1450px){
    .main-video { 
        height: 600px;
    }

    .grid .item {
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 250px;
    }
    
}

@media (max-width: 1280px){
    .main-video { 
        height: 400px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .grid .item {
        height: 150px;
    }
    
}

@media (max-width: 900px){
    .grid .item {
        height: 150px;
    }
}

@media (max-width: 800px){
    .main-video { 
        height: 200px;
    }

    .main-video .video video{ 
        margin-top: 0;
    }

    .grid .item {
        height: 150px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .columns {
        flex-direction: column;
        gap: 0;
    }

    .columns div { 
        width: 100%;
        text-align: center;
    }

}


@media (max-width: 540px){
    .menu{
        display: none;
    }
    .menu-mobile {
        display: block;
    }

    .main-video { 
        margin-top: 100px;
        height: 150px;
    }

    .main-video .video video {
        margin-top: 0px;       
    }

    
}

